	<section>
		<div class="card">
			<div class="car opc_1">
				<div class="huan">
					<font class="icon iconfont icon-shoujihao"></font>
				</div>
				<div class="jianjie">
					<p>更换手机号</p>
					<p>Change Phone Number</p>
				</div>
				
			</div>
			<div class="car opc_05" ng-click="hom_center_pwd()">
				<div class="huan">
					<font class="icon iconfont icon-xiugaimima"></font>
				</div>
				<div class="jianjie">
					<p>修改密码</p>
					<p>Modify Password</p>
				</div>
				
			</div>
			<div class="car opc_03" ng-click="hom_center_exit()">
				<div class="huan">
					<font class="icon iconfont icon-tuichu"></font>
				</div>
				<div class="jianjie">
					<p>退出</p>
					<p>Sing Out</p>
				</div>
				<!--<div class="hand clearfix">
					<a href="" class="fl"><font class="icon iconfont icon-chevron-copy-copy" style="font-size:0.9rem;top:0.1rem"></font>修改密码</a>
					<a href="" class="fr" style="position:relative;top:0.1rem">退出<font class="icon iconfont icon-jiantou-copy" style="top:0.07rem"></font></a>
				</div>-->
			</div>
		</div>
	</section>