<div class="home_index" ng-controller="home_indexController">
	<style type="text/css">
		body{background: #fff;}
	</style>
	<figure>
		<a href=""><img src="../images/indexTpl_banner.png" alt="" /></a>
	</figure>
	<div class="tips"><font class="icon iconfont icon-gonggao"></font><span ng-bind="gongaoInfo"></span></div>
	<div class="useInfo">
		<span>账户 :</span>
		<font>186*****657</font>
	</div>
	<div class="code_num">
		<ul>
			<li><img src="../images/1.png" alt="" /></li>
			<li><img src="../images/2.png" alt="" /></li>
			<li><img src="../images/5.png" alt="" /></li>
			<li><img src="../images/3.png" alt="" /></li>
			<li><img src="../images/8.png" alt="" /></li>
			<li><img src="../images/7.png" alt="" /></li>
		</ul>
		<div class="get_code">获取验证码</div>
	</div>
</div>